<ul class="nav col-md-4 justify-content-end">
    <li class="nav-item"><a href="<%= docs_index  %>" class="nav-link px-2"><img src="<%= (action === "server")? "/": "" %>images/overview.svg" alt="Overview" class="nav-image"/></a> </li>
    <li class="nav-item"><a href="<%= docs_instructions  %>" class="nav-link px-2"><img src="<%= (action === "server")? "/": "" %>images/instructions.svg" alt="Instructions" class="nav-image"/></a></li>
    <li class="nav-item"><a href="<%= docs_about %>" class="nav-link px-2"><img src="<%= (action === "server")? "/": "" %>images/about.svg" alt="About" class="nav-image"/></a></li>
    <li class="nav-item"><a href="<%= docs_developer%>" class="nav-link px-2"><img src="<%= (action === "server")? "/": "" %>images/developer.svg" alt="Developer" class="nav-image"/></a></li>
</ul>