<%- include('../partials/docs-head') %>

<body class="docs-body">

  <div class="docs-container-lg">
  <%- include('../partials/docs-header') %>

  <div class="docs-content">
   <div class="docs-wide">

    <div class="qs-instructions" role="region" title="Quick Steps">
      <%- include('../partials/docs-quick-steps') %>
      </div>
      


      <div class="instructions" role="main" title="main">
        <%- include('../partials/docs-instructions') %>
        </div>


   </div>
    
        
        <div class="github" role="region" title="GitHub Pages" >
      <%- include('../partials/docs-gitHub') %>
      </div>
      
      
</div>

<%- include('../partials/docs-footer') %>
</div>


</body>