<%- include('../partials/docs-head') %>

<body class="docs-body">

  <div class="docs-container">
  <%- include('../partials/docs-header') %>

  <div class="docs-content">
   <h1>Developer Manual</h1>
   *** Primarily for developers only.


    
   
<div title="Overview" role="main"  class="docs-wide">
  <h2>Overview</h2>
    <%- include('../partials/docs-developer-overview') %>
  </div>
  <div title="Server" role="region"  class="docs-wide">
    <h2>Server Project</h2>
    <%- include('../partials/docs-developer-server') %>
    </div>

    <div title="CLIENT" role="region"  class="docs-wide">

    <h2>Client Project</h2>

    <%- include('../partials/docs-developer-client') %>
  </div>

      
      
</div>

<%- include('../partials/docs-footer') %>
</div>


</body>